@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: rgb(0, 122, 255);
  --color-primary-dark: rgb(0, 98, 204);
}

@layer components {
  .bg-primary {
    background-color: var(--color-primary);
  }
  .bg-primary-dark {
    background-color: var(--color-primary-dark);
  }
  .text-primary {
    color: var(--color-primary);
  }
  .border-primary {
    border-color: var(--color-primary);
  }
}
